<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Adventurer Calculator</title>
</head>

<body>
  <h2>Welcome</h2>
  <h3 th:text="${'Your power is ' + power}"></h3>
  <h4 th:if="${powerClass != null}" th:text="${'You''re a ' + powerClass + ' hero.'}"></h4>
  <h4 th:if="${powerClass == null}">You're not a hero.</h4>
</body>

</html>